<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/Css/styles.css">
    <title>Tech Savvy</title>
</head>

<body>
    <header class="Primary-Header">
        <img src="/images/2023-06-11.png" class="logo-Pic" alt="" srcset="">
        <nav class="Primary-Nav">
            <ul class="Navbar-List">

               <a href="/" class="Primary-Nav-Link">Home</a> 
               
               <a href="/newPost" class="Primary-Nav-Link">Dashboard</a>
                {{#if loggedIn}}
               <a href="/logout"  id = "logout" class="Primary-Nav-Link">Logout</a>
          
               {{else}}
               <a href="/login" class="Primary-Nav-Link">LogIn</a>
                  {{/if}}
                

            </ul>
        </nav>
    </header>












    {{{body}}}








</body>

</html>