<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/Css/styles.css">
    <title>Tech Savvy</title>
</head>
<body>
    <header class="Primary-Header">
    <h1 class="Logo">T S</h1>
    <nav class="Primary-Nav">
        <ul class ="Navbar-List">
            <img src="/images/home (1).png" alt = "HOME-LINK" class ="Primary-Nav-Link">
           <img src="/images/user.png"  alt="USER-PROFILE" class ="Primary-Nav-Link">
             
        </ul>
    </nav>
</header>













     {{{body}}}













     <footer class="Primary-Footer">
    <ul class="Footer-List">
        <a href="" class="Primary-Footer-Link">Contact us</a>
    </ul>
</footer>
</body>
</html>