

<div class="Writing">
    <h2 class ="Main-Writing">Tech Savvy</h2>
</div>

<main class="Main-Content">
    <section class="Post-area">

    </section>
    <aside class ="Comment-Area"></aside>
</main>

