

@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@1,400;1,500&family=Montserrat:wght@200;300&family=Ysabeau+SC:wght@100;200;300;400;500&display=swap');
/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
    margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
    list-style: none;
}

/* Set core root defaults */
html:focus-within {
    scroll-behavior: smooth;
}

/* Set core body defaults */
body {
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
    scroll-behavior: smooth;
    font-family: 'Ysabeau SC', sans-serif;
    transition: ease-in-out 200ms;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
    text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
    max-width: 100%;
    display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
    font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }
}

*,
*::before,
*::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
}


/*  */
/* .wrapper1{
    display: inline-flex;
    justify-content: center;
} */

/* New Post */









.Main-Wrapper{
display: flex;
justify-content: center;
align-items: center;
border:1px solid black;
}

.Main-post-section{
  display: flex;
  justify-content: space-around;
  align-items: center;
border:1px solid black;
  margin:1%;
}

.Existing-Post{
  margin:1%;
  width:100%;
  border:1px solid black;
}

.post-Heading{
  text-transform: uppercase;
  border-bottom: inset;
}


.New-Post{
  display: flex;
  flex-direction: column;
  justify-content: center;
    margin:1%;
  width:100%;
   border:1px solid black;
}







































/*  */


.image-container {
  position: relative;
  display: inline-block;
}

.image-container select {
  position: absolute;
  top: 100%;
  left: 0;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.image-container:hover select {
  visibility: visible;
  opacity: 1;
}





.tech{
    display:flex;
    justify-content: center;
    font-size:2.5rem;
    color: #5e7eb6;
}

.wrapper{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin:2%;
    /* align-items: center; */
    /* background-color: #868B8E; */
}
.container {
    display: flex;
    width: 50%;
    height: 100vh;
    max-width: 99%;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    background-color: #ffffff25;
    border-radius: 15px;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.03);
    border: 0.1px solid rgba(128, 128, 128, 0.178);
  }
  
  .left {
    width: 66%;
    height: 100%;
  }
  
  /* .form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 100%;
    left: 0;
    backdrop-filter: blur(20px);
    position: relative;
  }
  
  .form::before {
    position: absolute;
    content: "";
    width: 40%;
    height: 40%;
    right: 1%;
    z-index: -1;
    background: radial-gradient(
      circle,
      rgb(194, 13, 170) 20%,
      rgb(26, 186, 235) 60%,
  
      rgb(26, 186, 235) 100%
    );
    filter: blur(70px);
    border-radius: 50%;
  }
  
  .right {
    width: 34%;
    height: 100%;
  }
  
  .img {
    width: 100%;
    height: 100%;
  }
  
  .container::after {
    position: absolute;
    content: "";
    width: 80%;
    height: 80%;
    right: -40%;
    background: rgb(157, 173, 203);
    background: radial-gradient(
      circle,
      rgba(157, 173, 203, 1) 61%,
      rgba(99, 122, 159, 1) 100%
    );
    border-radius: 50%;
    z-index: -1;
  }
  
  .input,
  button {
    background: rgba(253, 253, 253, 0);
    outline: none;
    border: 1px solid rgba(255, 0, 0, 0);
    border-radius: 0.5rem;
    padding: 10px;
    margin: 10px auto;
    width: 80%;
    display: block;
    color: #425981;
    font-weight: 500;
    font-size: 1.1em;
  }
  
  .input-block {
    position: relative;
  }
  
  label {
    position: absolute;
    left: 15%;
    top: 37%;
    pointer-events: none;
    color: gray;
  }
  
  .forgot {
    display: block;
    margin: 5px 0 10px 0;
    margin-left: 35px;
    color: #5e7eb6;
    font-size: 0.9em;
  }
  
  .input:focus + label,
  .input:valid + label {
    transform: translateY(-120%) scale(0.9);
    transition: all 0.4s;
  }
  
  button {
    background-color: #5e7eb6;
    color: white;
    font-size: medium;
    box-shadow: 2px 4px 8px rgba(70, 70, 70, 0.178);
  }
  
  a {
    color: #5e7eb6;
  }
  
  .input {
    box-shadow: inset 4px 4px 4px rgba(165, 163, 163, 0.315),
      4px 4px 4px rgba(218, 218, 218, 0.13);
  }
  

/*  */


.form-box {
    width: 30%;
    height:100vh;
    background: #f1f7fe;
    overflow: hidden;
    border-radius: 16px;
    color: #010101;

  }
  
  .form {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 32px 24px 24px;
    gap: 16px;
    text-align: center;
  }
  
  /*Form text*/
  .title {
    font-weight: bold;
    font-size: 1.6rem;
  }
  
  .subtitle {
    font-size: 1rem;
    color: #666;
  }
  
  /*Inputs box*/
  .form-container {
    overflow: hidden;
    border-radius: 8px;
    background-color: #fff;
    margin: 1rem 0 .5rem;
    width: 100%;
  }
  
  .input {
    background: none;
    border: 0;
    outline: 0;
    height: 40px;
    width: 100%;
    border-bottom: 1px solid #eee;
    font-size: .9rem;
    padding: 8px 15px;
  }
  
  .form-section {
    padding: 16px;
    font-size: .85rem;
    background-color: #e0ecfb;
    box-shadow: rgb(0 0 0 / 8%) 0 -1px;
  }
  
  .form-section a {
    font-weight: bold;
    color: #0066ff;
    transition: color .3s ease;
  }
  
  .form-section a:hover {
    color: #005ce6;
    text-decoration: underline;
  }
  
  /*Button*/
  .form button {
    background-color: #0066ff;
    color: #fff;
    border: 0;
    border-radius: 24px;
    padding: 10px 16px;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    transition: background-color .3s ease;
  }
  
  .form button:hover {
    background-color: #005ce6;
  } 













































/*  */
.Primary-Header {
  display: flex;
  align-items: center;
    background-color: #868B8E;
    justify-content: space-between;
    /* flex-wrap: wrap; */
}

.Navbar-List>li{
  list-style: none;
 
 
}

.Primary-Nav-Link{

     font-size: 1.4rem;
    padding: 0.9rem;
    cursor:pointer;
    color:#242222;
    text-decoration: none;



    
}
.Primary-Nav-Link:hover{
  border-bottom: inset;
  scale:1.1;
  transition: ease-in-out 200ms;
}
.Writing{
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-Pic{
    object-fit: cover;
    height:50vh;
    width:100%;
}
.Main-Writing{
    font-size:3rem;
    display:flex;
    justify-content: center;
}
.Main-Content{
    display: flex;
    justify-content: center;
    align-items: center;
    margin:1%;
    /* background-color: rgb(109, 154, 232); */

  
}

.Post-area{
 
       /* border-bottom: inset;  */
margin:1%;
    border:inset;
    /* height:100vh; */
   width:50%;
}

.comment-section{
    border-radius: 10px 5px 50px 5px;
    height:5rem;
    width:50%;
    margin-bottom: 1%;

   
}
.comment-here{
 border-bottom: inset;
 margin: 1%;
}

.user{
    font-size: 0.8rem;
}
.Post-Title{
   
    font-size: 1.9rem;
    font-weight: 500;

    /* border:1px solid black; */
}
.post-Description{
    border-top: inset;
    padding:0.8rem;
    font-size: 1.2rem;
    font-weight: 1,300;
}

.logo-Pic{
  aspect-ratio: 1;
  width:3.3rem;
  margin:0.9rem;
  border-radius: 50%;
}